@charset "uft-8";

#wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
  border-bottom: 1px solid #d3d6da;
}
header img {
  cursor: pointer;
}
header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}
.header_subicon {
  display: flex;
}
.header_subicon div {
  gap: 15px;
  display: flex;
}

.header_subicon button {
  margin-left: 33px;
  background: transparent;
  width: 170px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
main .board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 28px;
  font-weight: bold;
}

main .board-column {
  width: 50px;
  height: 50px;
  border: 2px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: bold;
}
footer .keyboard-row {
  display: flex;
  gap: 5px;
}
footer .keyboard-column {
  width: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3d6da;
  border-radius: 3px;
  cursor: pointer;
}
footer .row-3 .keyboard-column:first-child,
footer .row-3 .keyboard-column:last-child {
  width: 65px;
  font-size: 14px;
}

footer .delete_img {
  pointer-events: none;
}

@keyframes correct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hcorrect {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes incorrect {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 0.7em;
  }
  100% {
    font-size: 1em;
  }
}
